.landingpage{
    display: flex;
    gap: 20%;
}
.nav{
    display: flex;
}
.icon,
h5 {
    color: rgb(206, 30, 153);
}
.links a:hover,
.icon:hover {
    background-color: rgb(102, 206, 102);
    color: white;
    transition: 0.4s all linear;
}
#logo{
    width: 18px;
}
#superhero{
    color: rgb(226, 12, 58);
}

#hero{
    color: rgb(223, 67, 67);
    margin-right: 2%;
}
#imagehero{
   width: 800px; 
}

#landing{
    font-size: 80px;
}
.navbar{
    display: flex;
    gap: 20%;
    margin-left: 20%;
    margin-top: 6%;
}
.subscription{
    display: flex;
    gap: 20%;
}

#home{
    color: red;
}
#microsoft{
    width: 70px;
    height: 50px;
}
.footer{
    display: flex;
    gap: 17%;
}
#microsoft1{
    display: flex;
}
#udemy{
    width: 70px;
    height: 40px;
}
#udemy1{
    display: flex;
}
#slack{
    width: 50px;
    height: 40px;
}
#slack1{
    display: flex;
}
#login{
    color: white;
    background-color: rgb(211, 17, 82);
    border-radius: 25px;
    padding: 20px 23px;
    text-align: center;
    display: inline-block;
}
#joinnow{
    color:rgb(211, 17, 82);
    background-color: white;
    border-radius: 25px;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;}

#explore{
    color: white;
    background-color: rgb(211, 17, 82);
    border-radius: 25px;
    padding: 20px 23px;
    text-align: center;
    display: inline-block;
    margin-left: -12%;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-size: 17px;
}

@media screen and (max-width:375px) and (min-width:667px){
    .footer{
       flex-wrap: wrap;
       display: grid;
    }
    .landingpage{
        display: block;
    
        gap: 10%;
    
    }
    .navbar{
        display: block;
        flex-wrap: wrap;

        gap: 1%;
       
    }
    .nav{
        display: block;
    
    }
    .landingpage{
        display: block;
        flex-wrap: wrap;
        gap: 2%;
    }
    #imagehero{
        width: 80px; 
     }

   
}
@media screen and (max-width:914px) and (min-width:412px){
    .footer{
        display: block;
        flex-wrap: wrap;
    }

    .landingpage{
        display: block;
    
        gap: 10%;
    
    }
    .navbar{
        display: block;
        flex-wrap: wrap;

        gap: 1%;
       
    }
    .nav{
        display: block;
    
    }
    .landingpage{
        display: block;
        flex-wrap: wrap;
        gap: 2%;
    }  
}
@media screen and (max-width:414px) and (min-width:896px){
    .footer{
        display: block;
        flex-wrap: wrap;
    }

    .landingpage{
        display: block;
    
        gap: 10%;
    
    }
    .navbar{
        display: block;
        flex-wrap: wrap;

        gap: 1%;
       
    }
    .nav{
        display: block;
    
    }
    .landingpage{
        display: block;
        flex-wrap: wrap;
        gap: 2%;
    }
}
@media screen and (max-width:768px) and (min-width:1024px){
    .footer{
        display: block;
        flex-wrap: wrap;
    }
    .landingpage{
        display: block;
    
        gap: 10%;
    
    }
    .navbar{
        display: block;
        flex-wrap: wrap;
        gap: 1%;
       
    }
    .nav{
        display: block;
    
    }
    .landingpage{
        display: block;
        flex-wrap: wrap;
        gap: 2%;
    }

}
@media screen and (max-width:1024px) and (min-width:600px){
    .footer{
        display: block;
        flex-wrap: wrap;
        
    }
    .landingpage{
        display: block;
    
        gap: 10%;
    
    }
    .navbar{
        display: block;
        flex-wrap: wrap;

        gap: 1%;
       
    }
    .nav{
        display: block;
    
    }
    .landingpage{
        display: block;
        flex-wrap: wrap;
        gap: 2%;
    }

}